
#body {
	margin-top: 30px;
	border-radius: 10px;
}

.service-thumbnail {
	width : 100%;
	margin-bottom : 20px;
	height: 300px;
	border-radius: 2px;
}

.service-item {
	transition: border 1s, box-shadow 1s;
	margin-right: 2%;
	margin-left : 5%;
	margin-bottom: 15px;
	cursor: pointer;
	padding: 0;
	text-align: center;
	border-radius : 7px;
	border : 1px solid #cbd0d6;
	position: relative;
}

.service-tooltip{
	position: absolute;
	right : 0;
	color : #73767a;
	background-color : white;
	border-radius: 6px; 
	padding : 3px;
	display : none;
	font-weight: bold;
}

.service-tooltip:hover{
	color : #71d997;
}


.service-item:hover {
	box-shadow: 3px 3px 3px 3px #888888;
	color: green;
}

.fa-shopping-cart {
	color: green;
	cursor: pointer;
	font-weight: bold;
	font-size: 28px;
	transition: font-size 1s;
	position : relative;
}

.fa-shopping-cart:hover {
	font-size: 32px;
}

#pages {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#pages span.pageNumberElement {
	padding: 3px;
	cursor: pointer;
	transition: border 1s, box-shadow 1s;
	margin-right: 10px;
	font-size: 21px;
	padding-right : 7px;
	border-radius: 15px; 
}

#pages span.pageNumberElement:hover {
	box-shadow: 2px 3px #888888;
	color : white;
	background-color: green;
}

#pages span.active {
	padding: 7px;
	background-color: green;
	border: 1px solid #ddd;
	padding-right : 12px;
}

.service-title {
	color: #32B6A1;
    font-size: 25px;
}

.rated {
	color: yellow;
	font-weight: bold;
}

.input-group #search {
	width: 138px;
	padding: 12px;
	padding-bottom : 33px;
	padding-top : 33px;
	font-size: 18px;
	background-color : #2CAB97; 
	color : white;
	
}

.input-group-btn .btn-success {
	font-size: 13px;
	padding-top : 23px;
	padding-bottom: 23px;
}

div#my-modal-success,div#my-modal-feedback-step1,div#my-modal-feedback-step-2,
div#my-modal-contact-menu,div#my-modal-contact,div#my-modal-identification{
  display : none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div#my-modal-waiting{
	display : none;
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: black; /* Black w/ opacity */
}

div.my-modal-content{
  background-color: white;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 55%; /* Could be more or less, depending on screen size */
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  position: relative;
}

.feeling{
	transition : width 1s;
	cursor: pointer;
}

.feeling:hover,div.chosen{
	background-color: aqua;
}

.my-modal-chaining{
	text-align: right;
}

span.close-modal{
	position: absolute;
	right : 0;
	top : 0;
	cursor: pointer;
	transition : font-size 1s;
	padding-right: 2px;
}

span.close-modal:hover{
	font-size : 30px;
	color : red;
}


.modal-image-feedback{
	border-radius: 6px;
	height : 334px;
}

.modal-contact-link:hover{
	text-decoration: none;
}

li.list-group-item:hover{
	background-color: aqua;
	cursor : pointer;
}

.form-check-label{
	font-weight: normal;
	font-size : 15px;
}


#save-contact-button{
	font-size : 20px;
	border-radius: 7px;
}

.modal-input{
	font-size : 25px;
	padding : 5px;
}

.valid{
	box-shadow: 1px 1px 1px 1px green;
}

#user-email{
	transition : box-shadow 1s;
}

.modal-header{
	text-align: center;
}

#contact-message{
	transition : color 1s;
}

#verify-contact-icon{
	transition : color 2s;
	transition-timing-function: ease-in;
}

.invalid{
	box-shadow : 1px 1px 1px 1px red;
}