
#body {
	margin-top: 30px;
	border-radius: 10px;
}

.service-thumbnail {
	width: 100%;
	margin-bottom : 20px;
	height: 300px;
	border-radius: 5px;
}

.glyphicon .glyphicon-search {
	position: absolute;
	top: 0;
	right: 0;
}

.service-item {
	border: 2px solid #EDEDED;
	padding: 20px;
	transition: border 1s, box-shadow 1s;
	margin-left: 10px;
	margin-right: 40px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 17px;
}

.service-item:hover {
	box-shadow: 5px 10px #888888;
	color: green;
}

.glyphicon-shopping-cart {
	color: green;
	cursor: pointer;
	font-weight: bold;
	font-size: 28px;
	transition: font-size 1s;
}

.glyphicon-shopping-cart:hover {
	font-size: 32px;
}

#pages {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#pages span.pageNumberElement {
	padding: 3px;
	cursor: pointer;
	transition: border 1s, box-shadow 1s;
	margin-right: 10px;
	font-size: 21px;
}

#pages span.pageNumberElement:hover {
	box-shadow: 2px 3px #888888;
}

#pages span.active {
	padding: 7px;
	background-color: green;
	border: 1px solid #ddd;
}

.service-title {
	color: red;
}

.rated {
	color: yellow;
	font-weight: bold;
}

.input-group #search {
	width: 138px;
	padding: 12px;
	padding-bottom : 33px;
	padding-top : 33px;
	font-size: 18px;
	background-color : #2CAB97; 
	color : white;
	
}

.input-group-btn .btn-success {
	font-size: 13px;
	padding-top : 23px;
	padding-bottom: 23px;
}

div#my-modal-success{
  display : none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div#my-modal-content{
  background-color: black;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  text-align: center;
  color: green;
  font-size: 27px;
  font-weight: bold;
  border-radius: 10px;
} 