<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <style>
        .main-part{
            text-align: center;
            margin : 0 auto;
            font-family: Arial , Sans-Serif;
        }

        img{
            height: 350px;
        }

    </style>
</head>
<body>
<div class="main-part">
    <h1>Sorry,an error happen in server</h1>
    <img src="https://memegenerator.net/img/instances/63739888.jpg" alt="Meme"/>
    <br/>
    <a href="/ChildrenCare">Back to Home</a>
</div>
</body>
</html>