<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Insert title here</title>
<!--nghia's code-->
<script>
    $(window, document, undefined).ready(function() {

        $('.input').blur(function() {
            var $this = $(this);
            if ($this.val())
                $this.addClass('used');
            else
                $this.removeClass('used');
        });
    });

    $('#tab1').on('click' , function(){
        $('#tab1').addClass('login-shadow');
        $('#tab2').removeClass('signup-shadow');
    });

    $('#tab2').on('click' , function(){
        $('#tab2').addClass('signup-shadow');
        $('#tab1').removeClass('login-shadow');

    });
    function triggerLoginForm(displayStyle){
		const modalBoxWrapper = document.getElementsByClassName('boxed_wrapper')[0];
	    modalBoxWrapper.style.display = displayStyle;
	}

</script>
</head>
<body>

<div class="boxed_wrapper" th:fragment="authentication(currentPage)">

    <!-- Modal -->
    <div class="modal fade bs-modal-sm log-sign" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li id="tab1" class=" active tab-style login-shadow "><a href="#signin" data-toggle="tab">Đăng nhập</a></li>
                        <li id="tab2" class=" tab-style "><a href="#signup" data-toggle="tab">Đăng kí</a></li>

                    </ul>
                </div>
                <div class="modal-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="signin">
                           <!--   <form id="loginForm" class="form-horizontal"  action="/ChildrenCare/signIn" method="post"> -->
                                <fieldset>
                                    <!-- Sign In Form -->
                                    <!-- Text input-->
                                    <div class="group">
                                        <h4>Email hoặc username</h4>
                                        <input id="email" name="email" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                    </div>
                                    <!-- Password input-->
                                    <div class="group">
                                        <h4>Mật khẩu</h4>
                                        <input id="pass" name="password" required="" class="input" type="password"><span class="highlight"></span><span class="bar"></span>

                                    </div>
                                    <em>minimum 6 characters</em>

                                    <div class="forgot-link">
                                        <a href="#forgot" data-toggle="modal" data-target="#forgot-password"> Quên mật khẩu</a>
                                    </div>
                                    <!--Thai's code-->
                                    <div class="reset-pass">
                                        <a href="#reset" data-toggle="modal" data-target="#reset-password" >Đặt lại mật khẩu</a>
                                    </div>
                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="signin"></label>
                                        <div class="controls">
                                            <button onclick="loginCheck()" name="signin" class="btn btn-primary btn-block">Đăng nhập</button>
                                        </div>
                                    </div>
                                    <!-- thanh's code -->
                                    <input id="currentpage" type="hidden" name="currentPage" th:value="${currentPage}"/>
                                </fieldset>
                           <!--  </form> -->
                        </div>


                        <div class="tab-pane fade" id="signup">
<!--                            <form class="form-horizontal"  action="/ChildrenCare/signUp" method="post">-->
                            <div class="group">
                                <h4>Email</h4>
                                <input id="email_register"  name="email" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                            </div>
                                <div class="group">
                                    <h4>User name</h4>
                                    <input id="username_register" name="username" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                </div>
                                <div class="group">
                                    <h4>Họ và tên</h4>
                                    <input id="fullname_register"  name="fullname" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                </div>
                                <div class="group">
                                    <h4>Địa chỉ</h4>
                                    <input id="address_register"  name="address" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                </div>

                                <div class="group">
                                    <h4>Giới tính</h4>
                                    <select id="gender_register"  class="input" name="gender"><span class="highlight"></span><span class="bar"></span>
                                        <option value="1">Nam</option>
                                        <option value="0">Nữ</option>
                                    </select>
                                </div>
                                <div class="group">
                                    <h4>Ghi chú</h4>
                                    <input id="notes_register"  name="notes" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                </div>
                                <div class="group">
                                    <h4>Mật khẩu</h4>
                                    <input id="password_register"  name="password" required="" class="input" type="password"><span class="highlight"></span><span class="bar"></span>
                                </div>
                                <em>1-8 Characters</em>
                                <div class="group2">
                                    <h4>Số điện thoại</h4>
                                    <input id="phone_register"  name="phone" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                </div>
<!--                                <div class="group2">-->
<!--                                    <a href="" >Xác nhận tài khoản</a>-->
<!--                                </div>-->
                                <!-- Button -->
                                <div class="control-group">
                                    <label class="control-label" for="confirmsignup"></label>
                                    <div class="controls">
                                        <button onclick="register()" id="confirmsignup" name="confirmsignup" class="btn btn-primary btn-block">Sign Up</button>
                                    </div>
                                </div>
<!--                            </form>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                   <button type="button" id="big-button-close" class="btn btn-default" data-dismiss="modal" onclick="triggerLoginForm('none')">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal2-->
    <div class="modal fade bs-modal-sm" id="forgot-password" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Password will be sent to your email</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="group">
                                <input required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                <label class="label" >Email address</label></div>
                            <div class="control-group">
                                <label class="control-label" ></label>
                                <div class="controls">
                                    <button id="forpasswodr" name="forpassword" class="btn btn-primary btn-block">Send</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="triggerLoginForm('none')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!--Thai's code-->
    <!--Modal Reset Password-->
    <div class="modal fade bs-modal-sm" id="reset-password" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel1">Link reset will be sent to your email</h4>
                </div>
                <div class="modal-body">

                        <fieldset>
                            <div class="group">
                                <input required="" id="reset-email" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                <label class="label" >Email address</label></div>
                            <div class="control-group">
                                <label class="control-label" ></label>
                                <div class="controls">
                                    <button id="reset" class="btn btn-primary btn-block" onclick="resetEmail()">Send</button>
                                </div>
                            </div>
                        </fieldset>


                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" id="close-reset" class="btn btn-default" data-dismiss="modal" onclick="triggerLoginForm('none')">Close</button>
                    </center>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--nghia's code-->
</body>
</html>