<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!--Start header style1 area-->
<header class="header-style1-area" th:fragment="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="inner-content clearfix">
                    <div class="header-style1-logo float-left">
                        <a href="index-2.html">
                            <img th:src=@{/images/resources/anhlogo.jpg} width="300" height="200" alt="Awesome Logo">
                        </a>
                    </div>   
                    <div class="header-contact-info float-left" style="margin-top: 50px">
                        <ul>
                            <li>
                                <div class="single-item">
                                    <div class="icon">
                                        <span class="icon-support"></span>
                                    </div>
                                    <div class="text">
                                        <p>0964040501</p>
                                        <span>thainthe150042@fpt.edu.vn</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-item">
                                    <div class="icon">
                                        <span class="icon-gps"></span>    
                                    </div>
                                    <div class="text">
                                        <p>FPT University</p>
                                        <span>Hoa Lac, Thach That, Ha Noi</span>
                                    </div>
                                </div>
                            </li>
                        </ul>  
                    </div>
                    <div class="header-style1-button float-right" style="margin-top: 50px">
                        <a href="#"><span class="icon-date"></span>Make Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</header>  
<!--End header style1 area-->
</body>
</html>