<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ChildrenCare | Giỏ hàng</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
  <!-- responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- For IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- master stylesheet -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- Responsive stylesheet -->
  <link rel="stylesheet" href="../css/responsive.css">
  <!--Color Switcher Mockup-->
  <link rel="stylesheet" href="../css/color-switcher-design.css">
  <!--Color Themes-->
  <link rel="stylesheet" href="../css/color-themes/default-theme.css" id="theme-color-file">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-iconCart.png">
  <link rel="icon" type="image/png" href="../images/favicon/faviconCart-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../images/favicon/faviconCart-16x16.png" sizes="16x16">


  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <!--fix login form not appear when first click-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--    fix login form not appear when first click-->

  <link href="../css/authentication.css" rel="stylesheet">
  <script>
    
    // nghia's code
    $(document).ready(function() {
      var fadeTime = 100;
      $('.pass-quantity input').change(function() {
        updateQuantity(this);
      });
      $('.remove-item button').click(function() {
        removeItem(this);
      });

      function recalculateCart() {
        var subtotal = 0;
        $('.item').each(function() {
          subtotal += parseFloat($(this).children('.product-line-price').text());
        });
        var total = subtotal;
        $('.totals-value').fadeOut(fadeTime, function() {
          $('#cart-subtotal').html(subtotal.toFixed(3)+'.000 đ');
          $('.cart-total').html(total.toFixed(3)+'.000 đ');
          if (total == 0) {
            $('.checkout').fadeOut(fadeTime);
          } else {
            $('.checkout').fadeIn(fadeTime);
          }
          $('.totals-value').fadeIn(fadeTime);
        });
      }
      function updateQuantity(quantityInput) {
        var productRow = $(quantityInput).parent().parent();
        var price = parseFloat(productRow.children('.product-price').text());
        var quantity = $(quantityInput).val();
        if(quantity < 1){
          return false;

        }

        var linePrice = price * quantity;
        productRow.children('.product-line-price').each(function() {
          $(this).fadeOut(fadeTime, function() {
            $(this).text(linePrice.toFixed(3)+'.000 đ');
            recalculateCart();
            $(this).fadeIn(fadeTime);
          });
        });
      }
      function removeItem(removeButton) {
        var productRow = $(removeButton).parent().parent();
        productRow.slideUp(fadeTime, function() {
          productRow.remove();
          recalculateCart();
          window.location.reload();
        });
      }
    });
    //thanh's code
    function storeOldValue(serviceId,oldValue){
      var storeOldValueElement = document.querySelector("#oldvalue"+serviceId);
      storeOldValueElement.value = oldValue;
    }
    function editCartItem(event,serviceId,newValue){
      event.target.blur(); // make the input quantity lose focus to recalculate old value
      var oldValue = document.querySelector("#oldvalue"+serviceId).value;
      var updatedQuantity = newValue - oldValue;
      if(newValue < 1){
        alert("Quantity must be >= 1");
        window.location.reload();
      }
        if(updatedQuantity > 0){
          alert("Increase the quantity by : "+updatedQuantity);
        }else{
          alert("Decrease the quantity by : "+ (updatedQuantity * -1 ));
        }
        fetch("/ChildrenCare/reservation/add/"+serviceId+"?quantity="+updatedQuantity);



    }
    function removeCartItem(serviceId){
        fetch("/ChildrenCare/reservation/delete/"+serviceId,{
          method : 'DELETE'
        })
                .then(response => {
                  var removedCartItem = document.querySelector("#item"+serviceId);
                  removedCartItem.style.display = "none";
                })

      }

    </script>
  <script src="../js/common.js"></script>
  <link rel="stylesheet" href="../static/css/authentication.css">
  </head>
<body>
<div class="boxed_wrapper" th:replace="authentication.html :: authentication('/reservation/reser')"></div>
<div style="margin-bottom: 50px" th:insert="index :: top-bar"></div>
<header th:replace="header.html :: header"></header>

<div th:replace="mainmenu.html :: mainMenu('','Search...','home','')"></div>
<div class="container text-dark py-5 text-center">
  <h1 class="display-4" th:text="#{cart.show}"></h1>
  <h3 th:if="${list.isEmpty()}" th:text="#{cart.title}"></h3>
</div>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-xl-12 col-lg-8 col-md-7">
      <tr th:each="info: ${session.list}" th:id="${'item'+info.serviceId}">
      <div class="divhover border border-gainsboro p-3 mt-3 clearfix item">
        <div class="text-lg-left">
          <img th:src="${'data:image/gif;base64,'+info.base64ThumbnailEncode}"   alt="chua co anh"  class="img-fluid rounded shadow-sm">
        </div>
        <div class="col-lg-5 col-5 text-lg-left">
          <h3  th:text="#{cart.service.id}+':' +${info.serviceId}" class="h6 mb-0"></h3><br>
          <h3 th:text="#{cart.service.name}+':'+${info.title}" class="h6 mb-0"></h3><br>
            <small th:text="#{cart.service.price}+':'+${#numbers.formatDecimal(info.salePrice,1,'POINT',0,'POINT') + 'đ'}"
            ></small>
        </div>
        <div th:text="${#numbers.formatDecimal(info.salePrice,1,'POINT',0,'POINT')+'đ'}" class="product-price d-none"></div>
        <div class="pass-quantity col-lg-3 col-md-4 col-sm-3">
          <label class="pass-quantity" th:text="#{cart.totalPerson}"></label>
          <input  class="form-control" type="number" min="1" th:value="${info.quantity}"
                 th:onfocus="'storeOldValue('+${info.serviceId}+',this.value)'"
                 th:onchange="'editCartItem(event,'+ ${info.serviceId} +',this.value)'"/>
          <input type="hidden" th:id="'oldvalue'+(${info.serviceId})"/>
        </div>

        <div class="col-lg-2 col-md-1 col-sm-2 product-line-price pt-4">
          <span th:text="${#numbers.formatDecimal(info.getTotalCost(),1,'POINT',0,'POINT')+'đ'}" class="product-line-price"></span>
        </div>
        <div class="remove-item pt-4">
          <button class="remove-product btn-light">
            <i class="fa fa-trash" th:onclick="'removeCartItem('+ ${info.serviceId} +')'" style="cursor : pointer;"></i>
          </button>
        </div>

      </div>

      </tr>

    </div>
    <div class="back-to-shop"><a href="/ChildrenCare/service/services">&leftarrow;</a><span class="text-muted text-uppercase" th:text="#{cart.view}"></span></div>

    <div th:if="${!list.isEmpty()}" class="row py-5 p-4 bg-white rounded shadow-sm">
      <div class="col-lg-6">
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Mã giảm giá</div>
        <div class="p-4">
          <p class="font-italic mb-4">Nếu bạn có mã giảm giá hãy nhập vào ô dưới đây!</p>
          <div class="input-group mb-4 border rounded-pill p-2">
            <input type="text" placeholder="Áp dụng mã giảm giá" aria-describedby="button-addon3" class="form-control border-0">
            <div class="input-group-append border-0">
              <button id="button-addon3" type="button" class="btn btn-primary px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Áp dụng mã giảm giá</button>
            </div>
          </div>
        </div>
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
        <div class="p-4">
          <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
          <textarea name="" cols="30" rows="2" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold" th:text="#{cart.info}"></div>
        <div class="p-4">
          <p class="font-italic mb-4" th:text="#{cart.note}"></p>
          <ul class="list-unstyled mb-4">
            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" th:text="#{cart.total}"></strong>
              <p th:text="${#numbers.formatDecimal(session.total,1,'POINT',0,'POINT')+'đ'}" class="font-weight-bold cart-total totals-value text-danger"></p></li>
          </ul>
          <a th:if="${list}!=null" th:href="'/ChildrenCare/reservation/contact?lang='+${lang}" class="btn btn-primary rounded-pill py-2 btn-block" th:text="#{cart.confirm}"></a>
        </div>
      </div>
    </div>

  </div>
</div><!-- container -->
<div id="footer" th:insert="index :: footer"></div>
<style>
  body {
    min-height: 100vh;
  }

  .item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .btn-pay {
    background-color: #C800Da;
    border: 0;
    color: #fff;
    font-weight: 600;
  }
  .fa-ticket {
    color: #0e1fa1;
  }
  img{
    width : 100px;
    height : 100px;
  }
  .divhover{
    transition: box-shadow .3s;
    width: 100%;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
  }
  .divhover:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
  }
</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  function triggerLoginForm(displayStyle){
    //alert(document.readyState);
    const modalBoxWrapper = document.getElementsByClassName('boxed_wrapper')[0];
    //alert(modalBoxWrapper.tagName)
    modalBoxWrapper.style.display = displayStyle;
  }
</script>

</body>
</html>