<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- master stylesheet -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="../css/responsive.css">
    <!--Color Switcher Mockup-->
    <link rel="stylesheet" href="../css/color-switcher-design.css">
    <!--Color Themes-->
    <link rel="stylesheet" href="../css/color-themes/default-theme.css" id="theme-color-file">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!--fix login form not appear when first click-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--    fix login form not appear when first click-->
<!--    <link rel="stylesheet"-->
<!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet"-->
<!--          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <script-->
<!--            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>-->
<!--    <script-->
<!--            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--login style-->
    <link href="../css/authentication.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/reservationContact.css">


</head>
<body>
<div class="boxed_wrapper" th:replace="authentication.html :: authentication('/reservation/contact')"></div>
<div style="margin-bottom: 50px" th:insert="index :: top-bar"></div>
<header th:replace="header.html :: header"></header>
<div th:replace="mainmenu.html :: mainMenu('','Search...','services','')"></div>
<div class=" container-fluid my-5 ">
    <div class="row justify-content-center ">
        <div class="col-xl-10">
            <div class="card shadow-lg ">
                <div class="row p-2 mt-3 justify-content-between mx-sm-2">
                    <div class="col">
                        <p class="text-muted space mb-0 shop">Children-Care Contact</p>
                        <p class="text-muted space mb-0 shop"></p>
                    </div>
                    <div class="col">
                        <div class="row justify-content-start ">
                            <div class="col"> <img class="irc_mi img-fluid cursor-pointer " src="https://image.freepik.com/free-vector/child-care-logo_20448-66.jpg" width="70" height="70"> </div>
                        </div>
                    </div>
                    <div class="col-auto"> <img class="irc_mi img-fluid bell" src="https://i.imgur.com/uSHMClk.jpg" width="30" height="30"> </div>
                </div>
                <div class="row mx-auto justify-content-center text-center">
                    <div class="col-12 mt-3 ">
                        <nav aria-label="breadcrumb" class="second ">
                            <ol class="breadcrumb indigo lighten-6 first ">
                                <li class="breadcrumb-item font-weight-bold "><a class="black-text text-uppercase " href="/ChildrenCare/service/services"><span class="mr-md-3 mr-1">BACK TO SHOP</span></a><i class="fa fa-angle-double-right " aria-hidden="true"></i></li>
                                <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" href="/ChildrenCare/reservation/reser"><span class="mr-md-3 mr-1">Reservation Detail</span></a><i class="fa fa-angle-double-right text-uppercase " aria-hidden="true"></i></li>
                                <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase active-2" href="#"><span class="mr-md-3 mr-1">CHECKOUT</span></a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <form th:action="@{/reservation/saveData}" th:object="${reservation}"  method="post" novalidate="novalidate">
                    <div class="row justify-content-around">
                        <div class="col-md-5">
                            <div class="card border-0">
                                <div class="card-header pb-0">
                                    <h2 class="card-title space ">Checkout</h2>
                                    <p class="card-text text-muted mt-4 space">Receiver Information</p>
                                    <hr class="my-0">
                                </div>
                                <div class="card-body">
                                    <div class="">

                                    </div>
                                    <div class="row mt-4">

                                    </div>
                                    <div class="form-group"> <label for="NAME1" class="small text-muted mb-1">Full name</label>
                                        <input th:if="${user} !=null" th:object="${user}" type="text" th:field="*{fullname}"  class="form-control form-control-sm" id="" aria-describedby="helpId" >
                                        <input th:if="${user} == null" type="text" th:field="*{fullname}"  class="form-control form-control-sm" id="NAME1" aria-describedby="helpId" >
                                    </div>
                                    <div class="form-group"> <label  class="small text-muted mb-1">Gender</label>
                                        <select class="small text-muted mb-1" th:object="${user}" th:field="*{gender}">
                                            <option value="1" th:checked="${gender}">Nam</option>
                                            <option value="0" th:checked="not ${gender}">Nữ</option>
                                        </select>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-sm-6 pr-sm-2">
                                            <div class="form-group"> <label for="NAME3" class="small text-muted mb-1">Email</label>
                                                <input readonly th:if="${session.user} !=null" th:object="${user}" type="text" th:field="*{email}"  class="form-control form-control-sm"  aria-describedby="helpId" >
                                                <input th:if="${session.user} == null" th:field="*{email}" type="text" class="form-control form-control-sm"  id="NAME3" aria-describedby="helpId"> </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label for="NAME4" class="small text-muted mb-1">Mobile</label>
                                                <input th:if="${user} !=null" th:object="${user}" type="text" th:field="*{phone}"  class="form-control form-control-sm"  aria-describedby="helpId" >
                                                <input th:if="${user} == null" th:field="*{phone}"  type="text" class="form-control form-control-sm"  id="NAME4" aria-describedby="helpId" > </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-sm-6 pr-sm-2">
                                            <div class="form-group"> <label for="NAME5" class="small text-muted mb-1">Address</label>
                                                <input th:if="${user} !=null" th:object="${user}" type="text" th:field="*{address}"  class="form-control form-control-sm"  aria-describedby="helpId" >
                                                <input th:if="${user} == null" th:field="*{address}" type="text" class="form-control form-control-sm"  id="NAME5" aria-describedby="helpId"> </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label for="NAME6" class="small text-muted mb-1">Note</label>
                                                <input th:if="${user} !=null" th:object="${user}" type="text" th:field="*{notes}"  class="form-control form-control-sm"  aria-describedby="helpId" >
                                                <input th:if="${user} == null" th:field="*{notes}" type="text" class="form-control form-control-sm"  id="NAME6" aria-describedby="helpId" > </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="card border-0 ">
                                <div class="card-header card-2">
                                    <p class="card-text text-muted mt-md-4 mb-2 space">YOUR RESERVATION <a href="/ChildrenCare/reservation/reser"> -----> CHANGE</a></p>
                                    <hr class="my-2">
                                </div>
                                <div class="card-body pt-0">
                                    <th:block th:each="item: ${orderList}">
                                        <div class="row justify-content-between">
                                            <div class="col-auto col-md-7">
                                                <div class="media flex-column flex-sm-row"> <img th:src="${'data:image/gif;base64,'+item.base64ThumbnailEncode}" class=" img-fluid"  width="62" height="62">
                                                    <div class="media-body my-auto">
                                                        <div class="row ">
                                                            <div class="col-auto">
                                                                <p class="mb-0"><b></b></p>

                                                                Id:<small  th:text="${item.serviceId}" class="text-muted"></small>
                                                                -
                                                                Title: <small th:text="${item.title}" class="text-muted"></small>
                                                                <br>
                                                                Price: <small th:text="${#numbers.formatDecimal(item.originalPrice,1,'POINT',0,'POINT')}" class="text-muted"></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" pl-0 flex-sm-col col-auto my-auto">
                                                <p th:text="${item.quantity}" class="boxed-1"></p>
                                            </div>
                                            <div class=" pl-0 flex-sm-col col-auto my-auto ">
                                                <p><b th:text="${#numbers.formatDecimal(item.totalCost,1,'POINT',0,'POINT')}"></b></p>
                                            </div>
                                        </div>
                                        <hr class="my-2">
                                    </th:block>
                                    <div class="row justify-content-between">
                                        <div class="col-auto col-md-7">
                                            <div class="media flex-column flex-sm-row"> Total Reservation:
                                                <div class="media-body my-auto">
                                                    <div class="row ">
                                                        <div class="col-auto">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" pl-0 flex-sm-col col-auto my-auto">

                                        </div>
                                        <div class=" pl-0 flex-sm-col col-auto my-auto ">
                                            <p><b th:text="${#numbers.formatDecimal(session.total,1,'POINT',0,'POINT')}"></b></p>
                                        </div>
                                    </div>


                                    <div class="row mb-5 mt-4 ">
                                        <div class="col-md-7 col-lg-6 mx-auto"><button type="submit" class="btn btn-block btn-outline-primary btn-lg">SUBMIT</button></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
    <div id="footer" th:insert="index :: footer"></div>


<style>


</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    function triggerLoginForm(displayStyle){
        //alert(document.readyState);
        const modalBoxWrapper = document.getElementsByClassName('boxed_wrapper')[0];
        //alert(modalBoxWrapper.tagName)
        modalBoxWrapper.style.display = displayStyle;
    }
</script>

</body>
</html>